:root {
  /* Background */
  --darkblue: #000814;

  /* Text color */
  --textyellow: #FFD60A;

  /* neutral color for variety might use in site */
  --offwhite: #F5F5F5;

  --projectorscreen: #E6E6E6;

  /* Container/Section color */
  --lightblue: #001D3D;

  /* Container/Section border color */
  --lighterblue: #003566;

  /* Smidge of border-radius */
  --brad: 10px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	color: var(--textyellow);
	background-color: var(--darkblue);
}

body.dark-mode {
  background-color: var(--darkblue);
  color: var(--textyellow);
}

body:not(.dark-mode) {
  background-color: var(--offwhite);
  color: var(--lightblue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.2rem;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 1rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

p:last-of-type {
  margin: 0;
}

/* Fill hover for anchor links */
a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
  padding: 4px 6px;
  z-index: 1;
  overflow: hidden;
}

a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--textyellow);
  z-index: -1;
  transition: width 0.3s ease;
}

a:hover::before {
  width: 100%;
}

a:hover {
  color: var(--darkblue);
}

button {
  background: none;
  border: none;
  color: var(--textyellow);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: var(--darkblue);
  background: var(--textyellow);
}

svg {
  display: block;
}

.header {
  position: relative;
  display: flex;
  width: 100%;
}

.site-name {
  position: relative;
}

.light-switch {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: var(--lighterblue);
  border: 2px solid var(--textyellow);
  box-shadow: 0 0 15px var(--textyellow);
  transition: all 0.5s ease;
}

.light-switch:hover {
  transform: scale(1.2);
}

.light-switch.on {
  background: var(--textyellow);
  border: 2px solid var(--darkblue);
  box-shadow: 0 0 25px var(--textyellow);
  transform: rotate(20deg);
}

.light-switch.on:hover {
  box-shadow: 0 0 25px var(--textyellow);
  transform: rotate(0deg) scale(1.2);
}

.main {
  position: relative;
  display: flex;
  width: 100vw;
  margin: 0;
  gap: 0;
}

/* Projector */
.projector-screen {
  position: relative;
  width: 70%;
  height: 52rem;
  overflow: hidden;
  overflow-y: auto;
  background: linear-gradient(#E6E6E6, #E0E0E0); /* or your chosen offwhite */
  border-radius: 0;

  box-shadow:
  0 10px 80px rgba(0, 0, 0, 0.9),
  0 0 140px rgba(0, 0, 0, 0.7),
  inset 0 0 14px rgba(255, 255, 255, 0.3);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  gap: 1rem;
  padding: 1rem;
  z-index: -1;
}

.card {
  background: var(--lightblue);
  border: 2px solid var(--lighterblue);
  border-radius: var(--brad);
  box-shadow: 0 5px 10px var(--lighterblue);
  padding: 1rem;
  margin: 0;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  background: var(--lighterblue);
  border: 2px solid var(--lightblue);
}

.card-video {
  width: 100%;
  height: auto;
  border-radius: var(--brad);
}

.card h3 {
  color: var(--textyellow);
}

.card p {
  color: var(--textyellow);
  font-size: 0.95rem;
}

/* Character Area */
.character-area {
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  width: 70%;
  z-index: 3;
  gap: 0.2rem;
  pointer-events: none;
}

.character-chair {
  width: 20rem;
  height: 100px;
  text-align: center;
  border-radius: 50% 50% 0 0;
  background: black;
}

/* Chat box styling */
.chat-container {
  width: 30%;
  height: 53rem;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--lighterblue);
  padding: 1rem;
  border-radius: 0;
}

.chat-header {
  text-align: center;
  font-size: 1.2rem;
}


.chat-display {
  flex: 1;
  overflow-y: auto;
  border-radius: var(--brad);
  padding: 1rem;
}

/* This handles the message styling that appear in the chat display */
.chat-message {
  font-size: 1rem;
  color: var(--offwhite);
  transition: all 0.3s ease-in-out;
}

.chat-message:hover {
  transform: scale(1.05);
  background: var(--lighterblue);
  border: 2px solid var(--lightblue);
}

.chat-username {
  font-weight: bold;
  font-size: 1.2rem;
}

.chat-text {

}

.chat-time {
  opacity: 0.6;
}

.input-field {
  display: flex;
}

.chat-input {
  border-radius: var(--brad);
  background: var(--darkblue);
  border: 1px solid var(--offwhite);
  color: var(--offwhite);
  width: 100%;
  padding: 0.5rem;
  height: 2.3rem;
}

.send-chat {
  border-radius: var(--brad);
}